/** biome-ignore-all lint/suspicious/noUnknownAtRules: This is a custom CSS file that uses @import for Tailwind CSS and tw-animate-css. */

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--background: hsl(100 23.08% 94.90%);
	--foreground: hsl(100 5.88% 10%);
	--card: hsl(103.64 21.57% 90.00%);
	--card-foreground: hsl(105 5.26% 14.90%);
	--popover: hsl(100 23.08% 94.90%);
	--popover-foreground: hsl(105.31 96.08% 10%);
	--primary: hsl(105 35.96% 65.10%);
	--primary-foreground: hsl(0 0% 0%);
	--secondary: hsl(105.45 21.57% 70%);
	--secondary-foreground: hsl(0 0% 0%);
	--muted: hsl(67.06 22.08% 84.90%);
	--muted-foreground: hsl(108 4.90% 40%);
	--accent: hsl(65.45 21.57% 80%);
	--accent-foreground: hsl(105 5.26% 14.90%);
	--destructive: hsl(0 50.20% 48.82%);
	--destructive-foreground: hsl(100 5.88% 90%);
	--border: hsl(105.26 22.35% 50%);
	--input: hsl(104.73 22.09% 48.82%);
	--ring: hsl(105 35.96% 65.10%);
	--chart-1: hsl(204.77 69.35% 48.63%);
	--chart-2: hsl(175.46 58.62% 39.80%);
	--chart-3: hsl(330.96 64.08% 51.96%);
	--chart-4: hsl(17.57 80.44% 44.12%);
	--chart-5: hsl(1.04 71.19% 52.35%);
	--sidebar: hsl(43.85 86.67% 94.12%);
	--sidebar-foreground: hsl(240 2.86% 6.86%);
	--sidebar-primary: hsl(231.85 96.43% 67.06%);
	--sidebar-primary-foreground: hsl(0 0% 0%);
	--sidebar-accent: hsl(271.58 19.59% 80.98%);
	--sidebar-accent-foreground: hsl(0 0% 0%);
	--sidebar-border: hsl(232.34 24.87% 62.94%);
	--sidebar-ring: hsl(221.87 98.25% 44.90%);
	--font-sans: NotoSansJP, Outfit, sans-serif;
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono: Space Mono, monospace;
	--radius: 0.5rem;
	--shadow-2xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
	--shadow-xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
	--shadow-sm:
		2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 1px 2px -1px
		hsl(196 83% 10% / 0.15);
	--shadow:
		2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 1px 2px -1px
		hsl(196 83% 10% / 0.15);
	--shadow-md:
		2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 2px 4px -1px
		hsl(196 83% 10% / 0.15);
	--shadow-lg:
		2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 4px 6px -1px
		hsl(196 83% 10% / 0.15);
	--shadow-xl:
		2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 8px 10px -1px
		hsl(196 83% 10% / 0.15);
	--shadow-2xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.38);
}

.dark {
	--background: hsl(103.64 21.57% 10%);
	--foreground: hsl(100 5.88% 90%);
	--card: hsl(103.64 21.57% 10%);
	--card-foreground: hsl(100 5.88% 90%);
	--popover: hsl(110 23.08% 5.10%);
	--popover-foreground: hsl(100 5.88% 90%);
	--primary: hsl(105 35.96% 65.10%);
	--primary-foreground: hsl(0 0% 0%);
	--secondary: hsl(106.36 21.57% 20%);
	--secondary-foreground: hsl(0 0% 100%);
	--muted: hsl(66.43 21.88% 25.10%);
	--muted-foreground: hsl(108 4.90% 60.00%);
	--accent: hsl(66.43 21.88% 25.10%);
	--accent-foreground: hsl(100 5.88% 90%);
	--destructive: hsl(0 50.20% 48.82%);
	--destructive-foreground: hsl(100 5.88% 90%);
	--border: hsl(104.73 22.09% 48.82%);
	--input: hsl(104.73 22.09% 48.82%);
	--ring: hsl(105 35.96% 65.10%);
	--chart-1: hsl(204.77 69.35% 48.63%);
	--chart-2: hsl(175.46 58.62% 39.80%);
	--chart-3: hsl(330.96 64.08% 51.96%);
	--chart-4: hsl(17.57 80.44% 44.12%);
	--chart-5: hsl(1.04 71.19% 52.35%);
	--sidebar: hsl(192.22 100.00% 10.59%);
	--sidebar-foreground: hsl(0 0% 100%);
	--sidebar-primary: hsl(231.94 96.17% 59.02%);
	--sidebar-primary-foreground: hsl(0 0% 0%);
	--sidebar-accent: hsl(268.24 19.54% 17.06%);
	--sidebar-accent-foreground: hsl(0 0% 100%);
	--sidebar-border: hsl(231.22 25.15% 31.96%);
	--sidebar-ring: hsl(221.87 98.25% 44.90%);
	--font-sans: NotoSansJP, Outfit, sans-serif;
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono: Space Mono, monospace;
	--radius: 0.5rem;
	--shadow-2xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
	--shadow-xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
	--shadow-sm:
		2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 1px 2px -1px
		hsl(196 83% 10% / 0.15);
	--shadow:
		2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 1px 2px -1px
		hsl(196 83% 10% / 0.15);
	--shadow-md:
		2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 2px 4px -1px
		hsl(196 83% 10% / 0.15);
	--shadow-lg:
		2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 4px 6px -1px
		hsl(196 83% 10% / 0.15);
	--shadow-xl:
		2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 8px 10px -1px
		hsl(196 83% 10% / 0.15);
	--shadow-2xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.38);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground font-sans;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	@font-face {
		font-family: "NotoSansJP";
		font-display: swap;
		src: url("../fonts/NotoSansJP.ttf");
	}
}
